@model IEnumerable<OMCResultsApp.ViewModels.SeriesViewModel>

<div class="jumbotron">
    <h2>@ViewBag.Title</h2>
    <p>@ViewBag.Message</p>
</div>

<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SeriestName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SeriestName)
            </td>
            <td>
                @Html.ActionLink("View Series", "Events", new { SeriesId = item.SeriesId }, new { @class = "btn btn-primary" })
            </td>
        </tr>
    }
</table>